body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #0078FF;
}

li {
    list-style: none;
}

/* ========================main-heading================== */
.main-heading {
    text-align: center;
    position: relative;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
}


.main-heading::after {
    content: "";
    position: absolute;
    left: 47%;
    width: 5%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;

}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    line-height: 2;
    max-width: 100%;
    padding-bottom: 20px;
}

/* =====================nav================ */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
    position: relative;
}

.navbar-dark .navbar-nav .nav-link::before {
    content: "";
    height: 3px;
    width: 0;
    background-color: rgba(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
}

.navbar-dark .navbar-nav .nav-link.active::before {
    content: "";
    height: 3px;
    width: 90%;
    background-color: rgba(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-dark .navbar-nav .nav-link:hover::before {
    width: 90%;
    transition: all .5s;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255);
}

/* header */
.header {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
}

.header .layout {
    background-color: rgb(0, 0, 0, .6);
    height: 100vh;
}

.layout .container .text-area {
    text-align: center;
}

.layout .container .text-area>h1 {
    font-size: 80px;
}

/* DEMO-SPECIFIC STYLES */

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #fff;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end) infinite,
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0
    }

    10% {
        width: 10%
    }

    20% {
        width: 20%
    }

    30% {
        width: 30%
    }

    40% {
        width: 40%
    }

    50% {
        width: 50%
    }

    60% {
        width: 70%
    }

    70% {
        width: 50%
    }

    80% {
        width: 40%
    }

    90% {
        width: 10%
    }

    100% {
        width: 0%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #fff
    }
}

/* ===========about================== */
.title-box-2 h2.title-left {
    position: relative;
    font-size: 32px;
}

.title-box-2 h2.title-left::after {
    content: "";
    width: 20%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;

}

.about .about-img img {
    width: 100px;
    height: 100px;
}

/* ============================Service======================= */
.Services .row .box {
    border-radius: 1.3rem;
}

.Service-box {
    padding-block: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

.Service-box:hover .Service-icon {
    background-color: var(--main-color);
    border-color: #cde1f8;
    transition: all .5s;
}

.Service-box:hover .Service-icon i {
    color: #fff;
    transition: all .5s;
}

.Service-icon {
    padding-block: 20px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid var(--main-color);
}

.Service-icon i {
    font-size: 1.5rem;
}

.Service-info {
    margin-block: 20px;
}

.Service-info h2 {
    font-size: 22px;
}

.Service-info p {
    font-size: 16px;
    line-height: 1.8;
}

/* ==========================counter =======================*/
.counter {

    text-align: center;
    background-image: url(../img/counters-bg.jpg);
    background-size: cover;
}

.counter .layout {
    background-color: var(--main-color);
    opacity: .7;
}

.counter .Service-icon {
    background-color: transparent;
    border: 10px solid white;
}

.counter .Service-icon i {
    color: white;
}

.counter .container .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
    color: white;
}

.counter .container p {
    font-size: 14px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

/* ===========================portfolio====================== */
.portfolio .row span.w-category {
    color: var(--main-color);
}

.portfolio .row .port-box {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.portfolio .row .port-box .img {
    overflow: hidden;
}

.portfolio .row .port-box img {
    max-width: 100%;
}

.portfolio .row .port-box .work-content {
    padding: 15px;
}

.portfolio .row .port-box:hover img {
    scale: 1.4;
    transition: all .5s ease-in-out;
}

/* ====================Testimonials ===========================*/
.Testimonials {
    background-image: url(../img/overlay-bg.jpg);
    background-size: cover;
}

.Testimonials .layout {
    background-color: #0077ffa5;
}

.Testimonials .carousel-item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: static;
}

.Testimonials .carousel-indicators button[data-bs-target] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
}

/* =======================contact ======================*/
.contact {
    background-image: url(../img/overlay-bg.jpg);
    background-size: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.contact .title-box-2 h2.title-left {
    position: relative;
    font-size: 32px;
    padding-bottom: 20px;
}

.overlay {
    background-color: #0077ffa5;
}

.socials {
    padding: 1.5rem 0;
}

.socials ul li {
    display: inline-block;
}

.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 1.6;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
    padding: 10px;
    color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials .ico-circle:hover {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.title-box-2 {
    margin-bottom: 3rem;
}



.php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.php-email-form input,
.php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.php-email-form input:focus,
.php-email-form textarea:focus {
    border-color: #0078ff;
}

.php-email-form input {
    padding: 10px 15px;
}

.php-email-form textarea {
    padding: 12px 15px;
    margin-bottom: 0;
}

.php-email-form button[type=submit] {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.php-email-form button[type=submit]:hover {
    background: #3393ff;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    transition: all 500ms ease;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background-color: #0062d3;
    color: #fff;
    transition: all 500ms ease;
}

.button-a {
    text-decoration: none;
    background-color: #0078ff;
    color: #fff;
    border-color: #cde1f8;
}

.button-big {
    padding: 0.9rem 2.3rem;
    font-size: 1.2rem;
}

.button-rouded {
    border-radius: 5rem;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.list-ico i {
    color: #0078ff;
    margin-right: 10px;
}

.list-ico {
    line-height: 2;
    padding: 0;
}

/* ===========================footer=============================== */
.footer {
    background-color: #0062d3;
    color: #fff;
    font-size: 1rem;
}

.card-body .cardcategory-box {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}

.card-body .card-category {
    display: inline-block;
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
}

.card-body .card-category .category {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    margin-bottom: 0;
}

.card-body .card-title a {
    text-decoration: none;
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
}

.card-body .card-title {
    margin-block: 15px;
}

.card-body .card-title:hover a {
    color: var(--main-color);
}

.card-footer .post-author a span.author {
    text-decoration: none;
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
    margin-left: 10px;
}

.card-footer .post-author:hover a .author {
    color: var(--main-color);
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}

.card-footer .post-date {
    color: #4e4e4e;
    display: inline-block;
    float: right;
}

/* ====================================== */
.back-to-top i {
    font-size: 1rem;
    color: #fff;
    line-height: 0;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    /* visibility: hidden; */
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0078ff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}